<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <div class="row g-3 m-4">
              <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3" *ngFor="let i of data">

                  <div class="card">
                      <img height="180px"  width="280px" class="rounded-circle mx-auto" src="https://static.generated.photos/vue-static/face-generator/landing/wall/14.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title text-center">Name:{{i.name}}</h5>
                        <p class="card-text text-center">Roll No : {{i.rollno}}</p>
                        <p class="card-text text-center">Adm No : {{i.admno}}</p>
                        <p class="card-text text-center">College : {{i.college}}</p>
                        
                       
                      </div>
                    </div>

                  </div>    
              
              
          </div>

      </div>
  </div>
</div>